*.user

software/axiom_beta_control_daemon/Schema/axiom_daemon_generated\.h
software/axiom_beta_control_daemon/build/
software/axiom_beta_control_daemon/.vscode/*
software/axiom_beta_control_daemon/.vs/
software/axiom_beta_control_daemon/CMakeSettings.json
software/axiom_beta_control_daemon/CppProperties.json

stuff/linux/ArchLinuxARM*.gz
stuff/linux/DeviceTree/*.dtb

#Logic/Lattice/*.svf
gateware/Lattice/**/*.svf
gateware/Lattice/**/*.bin
gateware/Lattice/**/*.jed
gateware/Lattice/**/*.svf.*
gateware/cmv_hdmi3/*.bit

