[submodule "software/control-daemon"]
	path = software/control-daemon
	url = https://github.com/apertus-open-source-cinema/axiom-control-daemon.git
	branch = master
[submodule "software/misc-tools-utilities"]
	path = software/misc-tools-utilities
	url = https://github.com/apertus-open-source-cinema/misc-tools-utilities.git
	branch = master
[submodule "software/web-remote"]
	path = software/web-remote
	url = https://github.com/apertus-open-source-cinema/web-remote
