[submodule "software/axiom-control-daemon"]
	path = software/axiom-control-daemon
	url = https://github.com/apertus-open-source-cinema/axiom-control-daemon.git
	branch = master
[submodule "software/misc-tools-utilities"]
	path = software/misc-tools-utilities
	url = https://github.com/apertus-open-source-cinema/misc-tools-utilities.git
	branch = master
