.menu {
    display: flex;
    /*height: 3rem;*/
}
.menuBottom {
    display: flex;
    height: 100%;
    align-items: flex-end;
}
.menuButton {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    background-color:#3D3B39;
    color:#d5d5d5;
}
.RadioBtn-label{
    display:inline-block;
    font-size: 1.5rem;
    margin-left: 1rem;
}
input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}
label.radiogrp {
    display: inline-block;
    cursor: pointer;
    font-weight: bold;
    padding: 0.2rem 2rem;
}
input[type=radio]:checked + label.radiogrp{
    color: #3D3B39;
    background: #FA8756;
}
label.radiogrp + input[type=radio] + label.radiogrp {
    border-left: solid 3px #3D3B39;
}
.radio-group {
    border: solid 3px #3D3B39;
    display: inline-block;
    border-radius: 0.5rem;
    overflow: hidden;
    position: relative;
    margin-left: 1rem;
    background: #3D3B39;
    color: #d5d5d5;
}
.menuButtonInverted {
    /* align-items: flex-end; */
    /*height: 75%;*/
    margin-top: auto;
    font-size: 1rem;
    justify-content: center;
}
.menuButton:active {
    background-color:#FA8756;
    color: #3D3B39;
}
.menuButton-currentvalue  {
    background-color:#7ebcc6 !important;
    color: #171615 !important;
}
.roundedTop {
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    /*margin-bottom: -8px;
    padding-bottom: 20px;*/
    padding-top: 5px;
}
.roundedBottom {
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    /*margin-bottom: -8px;
    padding-bottom: 20px;*/
    padding-bottom: 5px;
}
.Value {
    display:inline;
    /*background: white;
    color:#3D3B39;
    font-size: 1.5rem;
    height: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    flex-grow: 2; */
}
.Home-Value {
    background: white;
    color:#3D3B39;
    font-size: 2rem;
    /*margin-top:0.5rem;
    height: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
}

.buttonCaption {
    /*background: #3D3B39;
    color:#d5d5d5;*/
    margin:0.5rem;
    font-weight: bold;
    font-size: 1.0rem;
    /* height: 1.7em; */
    /* line-height: 1.7em; */
    /* flex-grow: 1; */
}

#ShutterBtnList {
    overflow: auto;
    flex-grow: 1;

}

.buttonIcons {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: contain;
}
#menu-page{
    display: none;
}
#shutter-page {
    display: none;
}
#iso-page {
    display: none;
}
#shutter-preferences-page {
    display: none;
}
.row-option{
    background:white;
    color: #3D3B39;
    text-align: left;
    border-radius: 0.2em;
    padding: 0.6rem;
    margin:0.5rem;
    z-index: -10;
}
.row-option:active {
    color:#3D3B39;
    background-color: #FA8756;
}
.row-option-label{
    display:inline;
}
.row-option-option{
    float: right;
}
.row-option-item {
    text-align: center;
    font-size: 1.1rem;
}
