body {
    background-color: #2A3139;
}

#serverIP{
    margin-bottom: 2em;
}

.testOutput {
    color: red;
}

.demo {
    color: blue;
}

.lightText{
    color: white;
}

.label{
    margin-right: 1em;
    width: 10em;
}