# This file contains a list of all the archlinuxarm packages, that are needed inside the image
# install them via: xbps-install -S $(grep -vE "^\s*#" dependencies.txt | tr "\n" " ")

# things needed for setup
base-devel
git
figlet
wget
hashdeep
rsync
libgomp-devel

# dependencies of tools
python
i2c-tools
cmake
bc
# control daemon uses ninja now
ninja

# convenience tools
vim
nano
python-pip
python-devel
dtc

# webserver
lighttpd

# python-stuff
#python-numpy

# control daemon
clang
ninja
