# This file contains a list of all the archlinuxarm packages, that are needed inside the image
# install them via: pacman --noconfirm $(grep -vE "^\s*#" dependencies.txt | tr "\n" " ")

# things needed for setup
base-devel
git
figlet
wget
hashdeep
pacman-contrib
rsync

# dependencies of tools
python
devmem
i2c-tools
cmake
bc
# control daemon uses ninja now
ninja

# convenience tools
vim
nano
python-pip
python-numpy
dtc

# webserver
lighttpd

# python-stuff
python-numpy

# control daemon
clang
