# SPDX-FileCopyrightText: © 2017 Jaro Habiger <jarohabiger@googlemail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0

# This file contains a list of all the archlinuxarm packages, that are needed inside the image
# install them via: pacman --noconfirm $(grep -vE "^\s*#" dependencies.txt | tr "\n" " ")

# things needed for setup
base-devel
git
figlet
wget
rhash
pacman-contrib
rsync

# dependencies of tools
python
devmem
i2c-tools
cmake
bc
## axiom_picture_snap.sh
dcraw
imagemagick
# control daemon uses ninja now
ninja
# new control daemon uses fuse
fuse

# convenience tools
vim
nano
python-pip
python-numpy
dtc
man
man-pages
libdisplay-info
bash-completion
# for growpart
cloud-guest-utils

# webserver
lighttpd
yarn

# python-stuff
python-numpy


# various other packages
lsof
mlocate
stress
screen
minicom

# wifi utilities
iw
wpa_supplicant
networkmanager
dnsmasq

# tools required to compile pic firmware
sdcc
gputils

# lsusb
usbutils

# wireguard
wireguard-tools
