input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label.toggle {
	cursor: pointer;
	text-indent: -9999px;
	/*width: 90px;
	height: 50px;
	border-radius: 100px;*/
	width: 4rem;
	height: 2rem;
	border-radius: 3rem;
	background: #3D3B39;
	display: inline-block;
	position: relative;
	margin:0.2rem;
}

label.toggle:after {
	content: '';
	position: absolute;
	top: 0.1rem;
	left: 0.1rem;
	width: 1.8rem;
	height: 1.8rem;
	background: #d5d5d5;
	border-radius: 1.8rem;
	transition: 0.2s;
}

input:checked + label {
	background: #FA8756;
}

input:checked + label:after {
	left: calc(100% - 0.1rem);
	transform: translateX(-100%);
	background: #3D3B39;
}

label:active:after {
	width: 0.8rem;
}