[Unit]
Description=generate the /etc/issue file used by getty
Before=systemd-user-sessions.service

[Service]
Type=oneshot
ExecStart=/usr/axiom/script/axiom-gen-etc-issue.sh
KillMode=process

[Install]
WantedBy=multi-user.target

