[Unit]
Description=generate the /etc/issue file used by getty

[Service]
Type=oneshot
ExecStart=/usr/axiom/script/axiom-gen-etc-issue.sh
KillMode=process

[Install]
WantedBy=multi-user.target
WantedBy=serial-getty@ttyPS0.service
