# SPDX-FileCopyrightText: © 2019 Jaro Habiger <jarohabiger@googlemail.com>
# SPDX-License-Identifier: CC-BY-SA-4.0

[Unit]
Description=The AXIOM webui server
After=network.target

[Service]
WorkingDirectory=/opt/axiom-firmware/software/webui
ExecStart=/usr/bin/yarn start
StandardOutput=journal

[Install]
WantedBy=multi-user.target
