[Unit]
Description="Setup the AXIOM Beta image pipeline

[Service]
Type=oneshot
EnvironmentFile=-/etc/environment
ExecStart=/opt/axiom-firmware/software/scripts/start.sh
RemainAfterExit=true
ExecStop=/opt/axiom-firmware/software/scripts/halt.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
