[Unit]
Description=Axiom Service
After=network.target axiom.socket
Requires=axiom.socket

[Service]
Type=simple
ExecStart=/root/Source/beta-software/axiom_beta_control_daemon/build/axiom_daemon
StandardInput=socket
StandardError=journal
TimeoutStopSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
