[Unit]
Description=Axiom Service
After=network.target axiom.socket
Requires=axiom.socket

[Service]
Type=simple
ExecStart=/opt/axiom_daemon/axiom_daemon
StandardInput=socket
StandardError=journal
TimeoutStopSec=5
Restart=on-failure

[Install]
WantedBy=multi-user.target
