.menu {
    display: flex;
    height: 100%;
}

.menuBottom {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.menuButton {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.menuButtonInverted {
    /* align-items: flex-end; */
    height: 75%;
    margin-top: auto;
    font-size: 1.5em;
    justify-content: center;
}
/*
.menuButton:active {
    background-color:#FA8756;
    color: #171615;
}*/
.menuButton:active div.buttonCaption {
    background-color:#FA8756;
    color: #3D3B39;
}
.menuButton:active div.Value {
    background-color:#3D3B39;
    color: #FA8756;
}

.menuButton-currentvalue  {
    background-color:#7ebcc6 !important;
    color: #171615 !important;
}

.roundedTop {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    margin-bottom: -14px;
    padding-bottom: 25px;
    padding-top: 10px;
}

.roundedBottom {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    margin-top: -14px;
    padding-top: 25px;
    padding-bottom: 10px;
}

.Value {
    background: white;
    color:#3D3B39;
    font-size: 2.0rem;
    /* height: 60%; */
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    z-index: -1;
    /* flex-grow: 2; */
}

.buttonCaption {
    background: #3D3B39;
    color:#d5d5d5;
    font-weight: bold;
    font-size: 1.5rem;
    /* font-size: 1.7em; */
    /* height: 1.7em; */
    /* line-height: 1.7em; */
    /* flex-grow: 1; */
}

.buttonIcons {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: contain;
}
#menu-page{
    display: none;
}
#shutter-page {
    display: none;
}
.row-option{
    background:white;
    color: #3D3B39;
    text-align: left;
    border-radius: 0.2em;
    padding:1em;
    margin:1em;
    z-index: -10;
}
.row-option-label{
    display:inline;
}
.row-option-option{
    float: right;
}
.row-option-item {
    text-align: center;
    font-size: 2em;
}
