.menu {
    display: flex;
    height: 100%;
}

.menuBottom {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.menuButton {
    flex-grow: 1;
    flex-basis: 0;
    margin-left: 0.5em;
    margin-right: 0.5em;
    text-align: center;
    /* height: 100%; */
    display: flex;
    flex-direction: column;
}

.menuButtonInverted {
    /* align-items: flex-end; */
    height: 75%;
    margin-top: auto;
    font-size: 1.7em;
    justify-content: center;
    background: black;
}

.menuButton:active {
    background-color:#FA8756;
    color: #171615;
}
.menuButton-currentvalue  {
    background-color:#3b5ddb !important;
    color: #171615 !important;
}

.roundedTop {
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    margin-bottom: -6px;
    padding-bottom: 8px;
}

.roundedBottom {
    border-bottom-left-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    margin-top: -6px;
    padding-top: 8px;
}

.currentValue {
    background: white;
    color: black;
    font-size: 2em;
    /* height: 60%; */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    /* flex-grow: 2; */
}

.buttonCaption {
    background: black;
    color: white;
    font-size: 2em;
    /* font-size: 1.7em; */
    /* height: 1.7em; */
    /* line-height: 1.7em; */
    /* flex-grow: 1; */
}

.buttonIcons {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: contain;
}
#menu-page{
    display: none;
}
#shutter-page {
    display: none;
}
.row-option{
    background:white;
    color: black;
    text-align: left;
    border-radius: 0.3em;
    padding:2em;
    margin:2em;
}
.row-option-label{
    display:inline;
}
.row-option-option{
    float: right;
}
.row-option-item {
    text-align: center;
    font-size: 2em;
}
