    @font-face {
        font-family: 'Titillium';
        src: url('../fonts/Titillium-Regular.otf') format('opentype');
    }
    
    html,
    body {
        height: 100%;
        width: 100%;
        background-color: lightgray;
        font-family: 'Titillium';

        margin: 0;
        padding: 0;
        border: 0;

        /* Disable text selection */
        user-select: none;
    }
    /* Header
-----------------------------------------------------------------------------*/

    .header {
        width: 100%;
        height: 17%;
        position: fixed;
        top: 0;
    }
    /* Middle
-----------------------------------------------------------------------------*/

    .content {
        /* padding-top: 0 0 .625em; */
        position: fixed;
        width: 100%;
        top: 17%;
        bottom: 17%;
    }
    /* Footer
-----------------------------------------------------------------------------*/

    .footer {
        width: 100%;
        height: 17%;
        position: fixed;
        bottom: 0;
    }
