input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
    bottom:2.3rem;
	cursor: pointer;
	text-indent: -9999px;
	width: 90px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 100px;
	position: relative;
}

label:after {
	content: '';
	position: absolute;
	top: 5px;
	left: 5px;
	width: 40px;
	height: 40px;
	background: #fff;
	border-radius: 40px;
	transition: 0.3s;
}

input:checked + label {
	background: #FA8756;
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 60px;
}