input[type=checkbox]{
	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	/*width: 90px;
	height: 50px;
	border-radius: 100px;*/
	width: 2.2rem;
	height: 1.1rem;
	border-radius: 3rem;
	background: grey;
	display: inline-block;
	position: relative;
	margin:0.2rem;
}

label:after {
	content: '';
	position: absolute;
	top: 0.1rem;
	left: 0.1rem;
	width: 0.9rem;
	height: 0.9rem;
	background: #ffffff;
	border-radius: 0.9rem;
	transition: 0.3s;
}

input:checked + label {
	background: #FA8756;
}

input:checked + label:after {
	left: calc(100% - 0.1rem);
	transform: translateX(-100%);
}

label:active:after {
	width: 0.8rem;
}