

.flex-child-a {
  background-color: rgb(55, 96, 173);
  width: 90%;
  height: 80vh;
  margin: 5%;
}

.flex-child-b {
  background-color: rgb(100, 237, 111);
  width: 85%;
  margin: 5%;
  padding: 2%;
  border: .06em solid #ffffff;
  border-radius: .5em;
  text-align: center;
}

.center {
  vertical-align: middle;
  align-items: center;
  justify-content: center;
}

.child-center  {
  display: flex;
  flex-direction: column;
}
